body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 150%;
}

.header {
  background-color: #F1F3FF;
}

.footer i {
  color: #0D28A6;
  font-size: x-large;
}

.bg-darkblue {
  background-color: #0D28A6;
}

.logo {
  background-color: #0D28A6;
  width: 100px;
  height: 34px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
  width: 25vw;
}

.card-img-top {
  height: 200px;
  width: 25vw;
}

.card-cari {
  width: 1047px;
  /* height: 106px; */
  margin-top: -50px;
  z-index: 2;
}

.button-cari {
  width: 92px !important;
  margin-top: 30px;
  height: 36px;
}

.activeCari {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 34px;
}

.navbar {
  padding: 40px 0px;
  background-color: #F1F3FF;
}

.navbar .btn {
  background-color: #5CB85F;
  color: #fff;
  border: none;
  margin-left: 20px;
  width: 81px;
  height: 36px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
}

.navigasi {
  margin-left: 100px;
}

.menu {
  padding-left: 50px;
  color: black;
  font-family: Helvetica;
  font-size: 14px;
}

.hero {
  background: #F1F3FF;
  position: relative;
  height: 400px;
  margin-bottom: 50px
}

.judul {
  margin: 16px 0;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  margin-left: 100px;
}

.deskripsi {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  margin-left: 100px;
}

.hero .btn {
  background-color: #5CB85F;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 100px;
}

.img-hero {
  width: 610px;
  margin-left: 30px;
  margin-top: 20px;
  margin-left: 230px;
  z-index: 2;
}

.bg {
  position: absolute;
  width: 660px;
  margin-top: 110px;
  margin-left: 230px;
  z-index: 1;
}

/* Navbar */
.navbar {
  padding-bottom: 1vh;
  background-color: #F1F3FF;
  display: flex;
  flex-direction: row;
}

.navbar-kiri {
  width: 20vw;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-kanan {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  color: black;
}

.logo-navbar {
  width: 6vw;
  height: 2vw;
  background: #0D28A6;
}

.button-register {
  background-color: #5CB85F;
  border-radius: 2px;
  font-weight: bold;
  width: 81px;
  height: 37px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
}

/* title-content */
.title-content {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title-why-us {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-left: 15px;
}

.title-testi {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.desc-card {
  margin-top: 10px;
}

.name-card {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

.third-card-item {
  margin-left: 28px;
}

.faq-h2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}